pydantic
python-dotenv
langchain
langchain-groq
langchain-core
langchain-community
pypdf
bs4
faiss-cpu 
sentence-transformers 
langchain-huggingface
langchain-google-genai
langchain-pinecone 
pinecone-client 
python-docx 
rank_bm25
sklearn